$green:#00B894;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: 'exo 2', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
